.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.header {
  padding: 20px;
  background-color: #333;
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation_li {
  list-style: none;
}
.active {
  color: #04ff3a;
  list-style: none;
}
.active:hover {
  color: #04ff3a;
}
