/* .navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 30px;
} */
.layout {
  display: flex;
  min-height: auto;
  height: 90vh;
  max-height: 90vh;
}

.sidebar {
  width: 240px;
  background-color: #333;
  color: white;
}

.content {
  flex: 1;
  padding: 20px;
}
