.table {
  width: 100%;
  table-layout: fixed;
  border: none;
}

.th,
.td {
  font-size: 14px;
  padding: 10px 15px;
  text-align: left;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.td:hover,
.th:hover {
  white-space: normal;
  overflow: visible;
  background-color: #d33030;
}

.active {
  background-color: #d33030;
}
.tbody {
  display: block;
  max-height: 600px;
  overflow-y: auto;
}

.tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.tr:nth-child(even) {
  background: #f3f3f323;
}

/* Стили для скролла */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
